/*Primary Header*/
body {background-color: #2c3e50; }

h1 {
	font-family: 'Josefin Slab', serif;
	color: #16a085;
}

h2 {
	font-family: 'Josefin Slab', serif;
	color: #16a085;
}

h3 {
	font-family: 'Josefin Slab', serif;
	color: #16a085;

}

a href {style:white;}
/*Body Text*/

p{
	font-family: 'Josefin Slab', serif;
	color:#7f8c8d;
	letter-spacing: 2px;
}

/*Baseline Links*/
a:link {text-decoration: none}
a:visited {
	border-bottom:  white 2px;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover {
	background:white;
}

/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/ 
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background:#2c3e50
}

.color-2 {
	background: #16a085
}

.color-3 {
	background: #7f8c8d
}

.pattern-1{
	background: url("../img/upfeathers.png");
}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}